.hometitle {
  position: relative;
  color: #2774AE;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.Dropdown {
  position: absolute;
  top: 90%;
  right: 70px;
  transform: translate(0, -100%);
}

.logoutButton {
  background-color: #FFD100;
  color: #2774AE;
  padding: 17px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  position: absolute;
  top: 75%;
  right: 200px;
  transform: translate(0, -100%);
}

.logoutButton:hover{
  background-color: #2774AE;
  color:#FFD100;
}

.accessReport{
  background-color: #FFD100;
  color: #2774AE;
  padding: 17px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  position: absolute;
  top: 75%;
  left: 180px;
  transform: translate(0, -100%);
}

.accessReport:hover{
  background-color: #2774AE;
  color:#FFD100;
}

.editProfile{
  background-color: #FFD100;
  color: #2774AE;
  padding: 17px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  position: absolute;
  top: 75%;
  left: 10px;
  transform: translate(0, -100%);
}

.editProfile:hover{
  background-color: #2774AE;
  color:#FFD100;
}

hr {
  color: #FFD100;
  border-style: solid;
  border-width: 2px;
  margin-top: 40px !important;
}

.homePageWelcome{
  font-size: 24px;
  color: #2774AE;
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
}

.goBack{
  background-color: #FFD100;
  color: #2774AE;
  padding: 17px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  position: absolute;
  top: 12%;
  right: 20px;
  transform: translate(0, -100%);
}

.goBack:hover{
  background-color: #2774AE;
  color:#FFD100;
}

.chatBox {
  border: 8px solid #FFD100;
  border-radius: 10px;
}